<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<link rel="shortcut icon" type="image/x-icon" href ="../public/images/favicon.ico"/>

<% include templates/header.ejs %>

    <h3>What in the World Would </br> Twitter Say?</h3>

    <div>
        <form action="/about"  method="post" >
            <input type="text"
                   class="search"
                   title="search"
                   value="Search"
                   onblur="if (!value)value='Search'"
                   onclick="value=''"
                   name="search_bar">
            <input  type="text"
                    value="#"
                    onblur="if (!value)value='number'"
                    onclick="value=''"
                    name="number_bar"
                    title="#"
                    size="2">
                <select class="selectpicker" data-style="btn-info" name="resultType">
                    <optgroup label="Select Table">
                        <option name="" value="">Select table</option>
                        <option name="popular" value="Popular">Popular</option>
                        <option name="recent" value="Recent">Recent</option>
                        <option name="mixed" value="Mixed">Mixed</option>
                    </optgroup>
                </select>
            <input type="submit"
                   value="?" >
        </form>
    </div>

<a class="twitter-timeline"
   href=<%= search %>;
   data-widget-id="708694752495937921">
   click here to see more on Twitter
</a>

<div class="scrollable">
    <% twitter.statuses.forEach(function(twit){ %>
<p>
    <b><%= twit.text%></b> <br>
    ReTweeted?    <%= twit.retweet_count%> time(s) &nbsp;&nbsp;&nbsp;&nbsp;
    Favourited?     <%= twit.favorite_count%> time(s)
    <p>How does twitter feel about this? <%= twit.smiley%></p>
    <br>
</p>
    <% }); %>
</div>

</body>
</html>
